<div class="container"> 
    <div class="menu"> 
        <ul> 
            <li><a href="#">File</a> 
                <div class="sub"> 
                    <ul> 
                        <li><a href="#">New <span>Ctrl+N</span></a></li> 
                        <li><a href="#">Open... <span>Ctrl+O</span></a></li> 
                        <li><a href="#">Save <span>Ctrl+S</span></a></li> 
                        <li class="topline"><a href="#">Save As...</a></li> 
                        <li><a href="#">Page Setup...</a></li> 
                        <li><a href="#">Print... <span>Ctrl+P</span></a></li> 
                        <li class="topline"><a href="#">Exit</a></li> 
                    </ul> 
                </div> 
            </li> 
             
            <li><a href="#">Edit</a>                 
                <div class="sub"> 
                    <ul> 
                        <li><a href="#">Undo <span>Ctrl+Z</span></a></li> 
                        <li class="topline"><a href="#" class="disable">Cut <span>Ctrl+X</span></a></li> 
                        <li><a href="#" class="disable">Copy <span>Ctrl+C</span></a></li> 
                        <li><a href="#">Paste <span>Ctrl+V</span></a></li> 
                        <li><a href="#">Delete <span>Del</span></a></li> 
                        <li class="topline"><a href="#">Find... <span>Ctrl+F</span></a></li> 
                        <li><a href="#">Find Next <span>F3</span></a></li> 
                        <li><a href="#">Replace... <span>Ctrl+H</span></a></li> 
                        <li><a href="#" class="disable">Go To... <span>Ctrl+G</span></a></li> 
                        <li class="topline"><a href="#">Select All <span>Ctrl+A</span></a></li> 
                        <li><a href="#">Time/Date <span>F5</span></a></li> 
                    </ul> 
                </div> 
            </li> 
             
            <li><a href="#">Format</a> 
                <div class="sub min"> 
                    <ul> 
                        <li><a href="#">Word Wrap</a></li> 
                        <li><a href="#">Font... <span></span></a></li> 
                    </ul> 
                </div> 
            </li> 
             
            <li><a href="#">View</a> 
                <div class="sub min"> 
                    <ul> 
                        <li><a href="#" class="disable">Status bar</a></li> 
                    </ul> 
                </div> 
            </li> 
         
            <li><a href="#">Help</a> 
                <div class="sub min"> 
                    <ul> 
                        <li><a href="#">View Help</a></li> 
                        <li class="topline"><a href="#">About Notepad</a></li> 
                    </ul> 
                </div> 
            </li> 
         
        </ul> 
    </div>
     
<textarea autofocus="autofocus" spellcheck="false"> 
What is this?

This is a web version of Windows 7 that I created using Angular to explore the features of the latest version (Angular 17). I am excited about the progress of the project and hope you enjoy it too!
    
The responsiveness is still a work in progress, I sincerely apologize to mobile users for any inconvenience.

If you encounter any bugs or issues, please don't hesitate to reach out. You can contact me using the information provided below.
    
Why Windows 7? 

Well, windows 7 was the OS I used the most since my childhood and holds a special place in my heart, so recreating it was a bit nostalgic.
And I saw a person doing a web version of Windows XP and thought "I can do the same, and probably better", and here I am. Its better? probably no, but its mine. 

What is Lever Warriors?

Lever Warriors is a 2D fighting game that I created using Unity, its available for free in https://gianlucav.itch.io/lever-warriors. Hope you have fun.


Contact info:
    Github: https://github.com/Gianluca-V
    LinkedIn: https://www.linkedin.com/in/gianluca-vespe/

Gianluca Vespe - Full-stack Developer.
</textarea> 
 
</div>
