@use "../../common.scss" as common;

.desktop{
    width: 100%;
    display: grid;
    grid-template-rows: repeat(auto-fit, 72px);
    grid-template-columns: 72px;
    grid-auto-flow: row;
    gap:25px;
    padding: 10px;
    position: relative;
    flex: 1;
}

