@use "../../common.scss" as common;

.taskbar{
    width: 100%;
    height: 40px;
    background-color: #88d6;
    backdrop-filter: blur(10px);
    position: fixed;
    bottom: 0;
    box-shadow: 5px 5px 8px 3px #000;
    border-top: solid 1px #cccc;
    @include common.flex(row,space-between,center);

    &__start{
        width: 35px;
        margin-left: 10px;
    }

    &__desktop{
        width: 15px;
        height: 100%;
        backdrop-filter: blur(1px);
        border-bottom: solid 1px #fff6;
        box-shadow: 1px 7px 1px 1px #000, inset 3px 7px 9px -7px #fff;
        -webkit-box-shadow: 1px 7px 1px 1px #000, inset 3px 7px 9px -7px #fff;
    }
}