@use "../../common.scss" as common;
@use 'sass:math';

.taskbar{
    width: 100%;
    height: 40px;
    background-color: #88d6;
    backdrop-filter: blur(10px);
    position: sticky;
    bottom: 0;
    box-shadow: 5px 5px 8px 3px #000;
    border-top: solid 1px #cccc;
    z-index: math.$max-number;
    @include common.flex(row,space-between,center);

    &__start{
        width: 35px;
        margin-left: 10px;
    }
    &__apps{
        margin-left: 20px;
        @include common.flex(row,flex-start,center);
        gap:5px;
        flex:1;
    }
    &__controllers{
        @include common.flex();
        width: fit-content;
        height: 100%;
    }
    &__datetime{
        padding: 10px; 
        font-size: .8rem;
        color: #fff;
        @include common.flex(column,center,center);
    }
    &__desktop{
        width: 15px;
        height: 100%;
        backdrop-filter: blur(1px);
        background: -moz-linear-gradient(-45deg,  rgba(255,255,255,0.2) 0%, rgba(255,255,255,0) 30%, rgba(0,0,0,0.2) 31%, rgba(0,0,0,0.2) 100%);
        background: -webkit-linear-gradient(-45deg,  rgba(255,255,255,0.2) 0%,rgba(255,255,255,0) 30%,rgba(0,0,0,0.2) 31%,rgba(0,0,0,0.2) 100%);
        background: linear-gradient(135deg,  rgba(255,255,255,0.2) 0%,rgba(255,255,255,0) 30%,rgba(0,0,0,0.2) 31%,rgba(0,0,0,0.2) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#33ffffff', endColorstr='#33000000',GradientType=1 );
        border: solid 1px rgba(255,255,255,.2);
        -webkit-box-shadow: -1px 0 0 0 #000;
        box-shadow: -1px 0 0 0 #000;
        &:hover {
            background: -moz-linear-gradient(-45deg,  rgba(255,255,255,0.4) 0%, rgba(255,255,255,0.2) 30%, rgba(255,255,255,0.2) 31%, rgba(255,255,255,0.2) 100%);
            background: -webkit-linear-gradient(-45deg,  rgba(255,255,255,0.4) 0%,rgba(255,255,255,0.2) 30%,rgba(255,255,255,255.2) 31%,rgba(255,255,255,0.2) 100%);
            background: linear-gradient(135deg,  rgba(255,255,255,0.4) 0%,rgba(255,255,255,0.2) 30%,rgba(255,255,255,0.2) 31%,rgba(255,255,255,0.2) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#33ffffff', endColorstr='#33000000',GradientType=1 );
            border: solid 1px rgba(255,255,255,.2);
        }
    }
}