<div class="calculator">


<div class="menu">
  <span>V</span>iew&nbsp;&nbsp; <span>E</span>dit&nbsp;&nbsp; <span>H</span>elp
</div>
<div class="display">
  <div class="outer-div">
    <div class="inner-div sm-text"></div>
  </div>
  <div class="outer-div">
    <div class="inner-div lg-text">0</div>
  </div>
  <div class="error"></div>
  <div class="m-icon">M</div>
</div>
<div class="keyboard">
  <button value="mc">MC</button>
  <button value="mr">MR</button>
  <button value="ms">MS</button>
  <button value="mPlus">M+</button>
  <button value="mMinus">M-</button>

  <button value="backspace">&#9664;--</button>
  <button value="ce">CE</button>
  <button value="c">C</button>
  <button value="sign">+-</button>
  <button value="sqrt">&radic;</button>

  <button class="btn-white" value="7">7</button>
  <button class="btn-white" value="8">8</button>
  <button class="btn-white" value="9">9</button>
  <button value="/">/</button>
  <button value="%">%</button>

  <button class="btn-white" value="4">4</button>
  <button class="btn-white" value="5">5</button>
  <button class="btn-white" value="6">6</button>
  <button value="*">*</button>
  <button value="reciprocal">1/x</button>
  <button class="btn-white" value="1">1</button>
  <button class="btn-white" value="2">2</button>
  <button class="btn-white" value="3">3</button>
  <button value="-">-</button>

  <button class="btn-wide btn-white" value="0">0</button>
  <button class="btn-white" value=".">.</button>
  <button value="+">+</button>
  <button class="btn-tall" value="=">=</button>
</div>
</div>