.calculator{
    height: 100%;
}

.menu {
    border-bottom: solid 1px gray;
    font-size: 16px;
    padding: 2px 4px;

    background: linear-gradient(#f3f6fa 0%, #f3f6fa 34%, #D7E2EF 38%, #D7E2EF 100%);
}
.menu span {
    text-decoration: underline;
}

.display {
    position: relative;
    width: 90%;
    margin: 15px 0 3px 14px;
    border: solid 1px gray;
    border-radius: 3px;

    background: linear-gradient(#e5effb 0%, #E2EAF3 60%, #f5f8fd 80%, white 100%);
    box-shadow: 0px -1px 14px white inset;
}

.display div {
    color: black;
    text-align: right;
}

.outer-div {
    width:92%;
    margin-left:auto;
    margin-right:auto;
    text-align:right;
    overflow:hidden;
    white-space: nowrap;
  }
.inner-div {
    float:right;
}

.sm-text {
    font-size: 11px;
    letter-spacing: 2px;
    min-height: 16px;
    padding-top: 3px;
    margin: 0;
}
.lg-text {
    font-size: 20px;
    padding-left: 10px;
    margin: 0;
}
.m-icon {
    position: absolute;
    left: 4px;
    bottom: 8px;
    display: none;
}
.error {
    min-height: 12px;
    font-size: 10px;
    line-height: 8px;
    padding-right: 8px;
}
button {
    margin: 2px 0;
    border: 1px solid rgba(0,0,0,.4);
    border-radius: 2px;
    background: linear-gradient(#F0F6FB 0%, #E2EAF3 49%, #D5E0ED 50%, #D7E2EF 100%);
    box-shadow: 0px -1px 6px white inset;
}
button:hover {
	background: linear-gradient(#FFE3B5 50%, #FCBF5D 50%);
	box-shadow: 1px 1px 2px #ffb76b,0px -1px 5px white inset;
	border-color: #FCBF5D;
}
.btn-white {
    font-size: 14px;
    background: linear-gradient(#f2f5f9 0%, #f2f5f9 49%, #eef2f7 50%, #eef2f7 100%);
    box-shadow: 1.6px 1.6px 0px white inset, -1.6px -1.6px 0px white inset;
}

.keyboard{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(6,1fr);
    width: 90%;
    height: 70%;
    margin: 0 0 0 14px;
}

.btn-tall{
    grid-area: 5 / 5 / 7 / 6;
}
.btn-wide{
    grid-area: 6 / 1 / 7 / 3;
}