<div class="window-container {{this.openAppsManagerService.getAppState(this.app.id)}}" [ngClass]="{'resizable':this.openAppsManagerService.getAppState(this.app.id) ==='open', 'draggable':true}"
    id="{{windowId}}" (click)="changeZIndex()">
    @if(this.openAppsManagerService.getAppState(this.app.id) === "open"){
        <div class='resizer left'></div>
        <div class='resizer right'></div>
        <div class='resizer bottom'></div>
        <div class='resizer top'></div>

        <div class='resizer top-left'></div>
        <div class='resizer top-right'></div>
        <div class='resizer bottom-left'></div>
        <div class='resizer bottom-right'></div>
    }
    <div class="window">
        <div class="window__header">
            <div class="window__title">{{this.app.appContent.inputs.title}}</div>
            <div class="window__controllers">
                <button class="window__button window__button--minimize" aria-label="Minimize"
                    (click)="minimizeApp()"></button>
                <button class="window__button window__button--maximize" [attr.aria-label]="this.openAppsManagerService.getAppState(this.app.id) === 'maximized' ? 'Restore' : 'Maximize'"
                    (click)="maximizeApp()"></button>
                <button class="window__button window__button--close" aria-label="Close" (click)="closeApp()">X</button>
            </div>
        </div>

        <div class="window__body">
            <ng-container *ngComponentOutlet="
            getApp.appContent.component;
            inputs: getApp.appContent.inputs;
            " />
        </div>
    </div>
</div>